<style>
  @font-face {
  font-family: 'Roadgeek';
  src: url('https://gcore.jsdelivr.net/gh/Ratodo/Lib/fonts/Roadgeek/Roadgeek.eot');
  src:
  url('https://gcore.jsdelivr.net/gh/Ratodo/Lib/fonts/Roadgeek/Roadgeek.eot') format('embedded-opentype'),
  url('https://gcore.jsdelivr.net/gh/Ratodo/Lib/fonts/Roadgeek/Roadgeek.woff2') format('woff2'),
  url('https://gcore.jsdelivr.net/gh/Ratodo/Lib/fonts/Roadgeek/Roadgeek.woff') format('woff'),
  url('https://gcore.jsdelivr.net/gh/Ratodo/Lib/fonts/Roadgeek/Roadgeek.ttf') format('truetype'),
  url('https://gcore.jsdelivr.net/gh/Ratodo/Lib/fonts/Roadgeek/Roadgeek.svg') format('svg');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  }

  :root {
    --sys-font-family: "Roadgeek";
    --zh-font-family: "Roadgeek";
    --base-font-family: "Roadgeek";
    --code-font-family: "Roadgeek";
    --article-font-family: "Roadgeek";
  }
</style>

