<style>
  @font-face {
  font-family: 'AdobeCleanHanSC';
  src: url('https://gcore.jsdelivr.net/gh/Ratodo/Lib/fonts/AdobeCleanHanSC/AdobeCleanHanSC.eot');
  src:
  url('https://gcore.jsdelivr.net/gh/Ratodo/Lib/fonts/AdobeCleanHanSC/AdobeCleanHanSC.eot') format('embedded-opentype'),
  url('https://gcore.jsdelivr.net/gh/Ratodo/Lib/fonts/AdobeCleanHanSC/AdobeCleanHanSC.woff2') format('woff2'),
  url('https://gcore.jsdelivr.net/gh/Ratodo/Lib/fonts/AdobeCleanHanSC/AdobeCleanHanSC.woff') format('woff'),
  url('https://gcore.jsdelivr.net/gh/Ratodo/Lib/fonts/AdobeCleanHanSC/AdobeCleanHanSC.ttf') format('truetype'),
  url('https://gcore.jsdelivr.net/gh/Ratodo/Lib/fonts/AdobeCleanHanSC/AdobeCleanHanSC.svg') format('svg');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  }

  :root {
    --sys-font-family: "AdobeCleanHanSC";
    --zh-font-family: "AdobeCleanHanSC";
    --base-font-family: "AdobeCleanHanSC";
    --code-font-family: "AdobeCleanHanSC";
    --article-font-family: "AdobeCleanHanSC";
  }
</style>

